{% extends "fall-2014/menu.html" %}

{% block page %}

{% filter markdown %}

# Syllabus

## Section 1: MWF 11:00am 134 TMCB

This graduate course explores advanced topics in computer networks,
focusing on fundamental research being conducted to improve the
Internet. The course covers a set of classic research papers from a
broad spectrum of topics, mixed with some of the latest research in
these areas.

The prerequisite for this course [CS 460 Computer Communications and
Networking](http://cs460.byu.edu) or its equivalent.

## Learning Objectives

At the end of the course, students should be able to:

* understand a broad set of Internet research topics and the open
  research issues in the area,

* conduct Internet research, including collecting and analyzing data,
  and presenting results

* formulate a research question, study the related work, and clearly
  present the leading papers in the area, discussing their approach

## Organization

We will study one research area every week, reading and discussing
several papers together. I expect students to read each paper before
class and come to class prepared to give a brief summary and to offer
criticisms and/or questions about the paper.

We will set aside time every week to discuss ongoing class projects.

## Materials

Links to research papers will be available on the class web site.
Additional papers can be found in the IEEE and ACM digital libraries,
which are available free from on campus.

## Assignments

Each student will work in teams of two or three on a project for
the course.  The goal of this project is to help you learn the methods
and tools used in Internet research, and to give you some additional
experience posing and answering a research question.  The project
should address some open question in the area of networking, and it
should include some coding, data analysis, and a short research
paper. The amount of work should be enough to occupy a normal workload
for a graduate-level class, but significantly less than a Master's
thesis.

Each student will work individually to write a short survey paper
examining a focused area of networking that they are interested
in. The goal of this paper is to demonstrate your expertise in
understanding Networking as a research area and to give you additional
experience conducting a literature search in a new area and presenting
your ideas in writing. Your paper should summarize the 5 or 6 most
important papers on a research topic and should go well beyond the
papers from class.

There will be a take home final exam with questions to assess your
understanding of the broad field of networking. Questions will be
taken from the areas and topics covered in class. This will be
calibrated to take about 2 hours for the average student.

## Grading

Grading will be based on an scale of 0 to 100, with standard letter
grades assigned. Your final grade will be computed by weighting the
assignments as follows:

> Survey Paper: 30%

> Research Project: 40%

> Final: 30%

## Late Policy

All work must be turned in on time -- turn in partial work if you are
not done. Medical or other exceptions must be given prior to the due
date.

## Educational Policies

### Honor Code Standards

In keeping with the principles of the [BYU Honor
Code](http://campuslife.byu.edu/honorcode/), students are expected to
be honest in all of their academic work. Academic honesty means, most
fundamentally, that any work you present as your own must in fact be
your own work and not that of another. Violations of this principle
may result in a failing grade in the course and additional
disciplinary action by the university.

For this course, some assignments are categorized as group work. For
these assignments, you may form a group that works together to produce
one solution. Any assignment not categorized as group work *must* be
done individually. You are encouraged to generally discuss problems
with other groups or students, but you may never use some other
group's or student's solution or code in any way. The use of sources
(ideas, quotations, paraphrases) must be properly acknowledged and
documented.

### Policy on Harassment

Harassment of any kind is inappropriate at BYU. Specifically, BYU's
policy against sexual harassment extends not only to employees of the
university but to students as well.  If you encounter sexual
harassment, gender-based discrimination, or other inappropriate
behavior, please talk to your professor, contact the Equal Employment
Office at 422-5895 or 367-5689, or contact the Honor Code Office at
422-2847.

### Policy on Disabilities

BYU is committed to providing reasonable accommodation to qualified
persons with disabilities. If you have any disability that may
adversely affect your success in this course, please contact the
University Accessibility Center at 422-2767.  Services deemed
appropriate will be coordinated with the student and instructor by
that office.

{% endfilter %}

{% endblock %}
