{% extends "fall-2014/menu.html" %}

{% block page %}

{% filter markdown %}

# Instructor

<div class="instructor">
<h3>Daniel Zappala</h3>
<img src="/static/img/daniel-zappala.jpg">
<p>Associate Professor</p>
</div>

<div class="icons">
  <p>
    <a href="https://github.com/zappala" class="noborder"><img class="icon" src="/static/img/github.png" alt="github"></a>
    <a href="https://twitter.com/Daniel_Zappala" class="noborder"><img class="icon" src="/static/img/twitter.png" alt="twitter"></a>
    <a href="//plus.google.com/114449822521576560110?prsrc=3"
       rel="publisher" target="_top" class="noborder">
      <img src="//ssl.gstatic.com/images/icons/gplus-32.png"
	   alt="Google+" class="icon"/></a>
    <a href="http://www.linkedin.com/in/danielzappala/" class="noborder"><img class="icon" src="/static/img/linkedin.png" alt="linkedin"></a>
  </p>
</div>
<p><a href="http://zappala.byu.edu">zappala.byu.edu</a><br>
    daniel.zappala [at] gmail.com</p>
<p>2228 TMCB<br>Brigham Young University<br>Provo, UT 84062</p>
  <p>801-422-2195</p>
</div>

{% endfilter %}

{% endblock %}
