{% extends "fall-2013/menu.html" %}

{% block page %}

{% filter markdown %}

# Syllabus

This graduate course explores advanced topics in computer networks,
focusing on fundamental research being conducted to improve the
Internet. The course covers a set of classic research papers from a
broad spectrum of topics, mixed with some of the latest research in
these areas.

The prerequisite for this course [CS 460 Computer Communications and
Networking](http://cs460.byu.edu) or its equivalent.

## Learning Objectives

At the end of the course, students should be able to:

* understand a broad set of Internet research topics and the open
  research issues in the area,

* have some expertise in the methods used to conduct Internet
  research,

* the ability to conduct independent and original research, including
  formulating research questions, studying related work, formulating
  solutions, collecting and analyzing data, and presenting research
  results.

## Organization

We will study one research area every week, reading and discussing a
small set of papers together. At the end of each week, students will
turn in a brief summary of what they have learned about the area.

## Materials

Links to research papers will be available on the class web site.
Additional papers can be found in the IEEE and ACM digital libraries,
which are available free from on campus.

## Assignments

Each week, students will write a brief, one-page summary of what they
have learned about an area of networking research. The format of the
area summary should be: one paragraph to give an overview of the
research area (what problem is being solved?, why is it important?),
and two to three paragraphs summarizing the research papers we read
(what approach did they take? how did they solve the problem? what
were their results?).

Each student will also work in teams of two or three on a project for
the course.  The project should address some open question in the area
of networking, and it should include some coding and a short research
paper. The amount of work should be enough to occupy a normal workload
for a graduate-level class, but significantly less than a Master's
thesis.

## Grading

Grading will be based on an scale of 0 to 100, with standard letter
grades assigned. Your final grade will be computed by weighting the
assignments as follows:

> Area Summary: 30%

> Research Project: 70%

## Late Policy

All work must be turned in on time -- turn in partial work if you are
not done. Medical or other exceptions must be given prior to the due
date.

## Educational Policies

### Honor Code Standards

In keeping with the principles of the [BYU Honor
Code](http://campuslife.byu.edu/honorcode/), students are expected to
be honest in all of their academic work. Academic honesty means, most
fundamentally, that any work you present as your own must in fact be
your own work and not that of another. Violations of this principle
may result in a failing grade in the course and additional
disciplinary action by the university.

For this course, some assignments are categorized as group work. For
these assignments, you may form a group that works together to produce
one solution. Any assignment not categorized as group work *must* be
done individually. You are encouraged to generally discuss problems
with other groups or students, but you may never use some other
group's or student's solution or code in any way. The use of sources
(ideas, quotations, paraphrases) must be properly acknowledged and
documented.

### Policy on Harassment

Harassment of any kind is inappropriate at BYU. Specifically, BYU's
policy against sexual harassment extends not only to employees of the
university but to students as well.  If you encounter sexual
harassment, gender-based discrimination, or other inappropriate
behavior, please talk to your professor, contact the Equal Employment
Office at 422-5895 or 367-5689, or contact the Honor Code Office at
422-2847.

### Policy on Disabilities

BYU is committed to providing reasonable accommodation to qualified
persons with disabilities. If you have any disability that may
adversely affect your success in this course, please contact the
University Accessibility Center at 422-2767.  Services deemed
appropriate will be coordinated with the student and instructor by
that office.

{% endfilter %}

{% endblock %}
