{% extends "fall-2013/sidebar.html" %}

{% block page %}

<div class="text">
  <div class="row-fluid">
    <div class="span12">

      <h1 class="top">Syllabus</h1>

      <p>This graduate course explores advanced topics in computer
      networks, focusing on fundamental research being conducted to
      improve the Internet. The course covers a set of classic
      research papers from a broad spectrum of topics, mixed with some
      of the latest research in these areas.</p>

      <p>The prerequisite for this course
      is <a href="http://cs460.byu.edu">CS 460 Computer Communications
      and Networking</a> or its equivalent.</p>

      <h2>Learning Objectives</h2>

      <p>At the end of the course, students should be able to:</p>

      <ul>

	<li>understand a broad set of Internet research
	  topics and the open research issues in the area,</li>

	<li>have some expertise in the methods used to conduct
	  Internet research,</li>

	<li>the ability to conduct independent and original research,
	  including formulating research questions, studying related
	  work, formulating solutions, collecting and analyzing data,
	  and presenting research results.</li>

      </ul>

      <h2>Organization</h2>

      <p>We will study one research area every week, reading and
	discussing a small set of papers together. At the end of each
	week, students will turn in a brief summary of what they have
	learned about the area.</p>

      <h2>Materials</h2>

      <p>Links to research papers will be available on the class web
	site.  Additional papers can be found in the IEEE and ACM
	digital libraries, which are available free from on
	campus.</p>

      <h2>Assignments</h2>

      <p>Each week, students will write a brief, one-page summary of
      what they have learned about an area of networking research. The
      format of the area summary should be: one paragraph to give an
      overview of the research area (what problem is being solved?,
      why is it important?), and two to three paragraphs summarizing
      the research papers we read (what approach did they take? how
      did they solve the problem? what were their results?).</p>

      <p>Each student will also work in teams of two or three on a
	project for the course.  The project should address some open
	question in the area of networking, and it should include some
	coding and a short research paper. The amount of work should
	be enough to occupy a normal workload for a graduate-level
	class, but significantly less than a Master's thesis.</p>

      <h2>Grading</h2>

      <p>Grading will be based on an scale of 0 to 100, with standard letter
	grades assigned. Your final grade will be computed by weighting the
	assignments as follows:</p>

      <table>
	<col class="course">
	<tr><td>Area Summary</td><td>30%</td></tr>
	<tr><td>Research Project</td><td>70%</td></tr>
      </table>

      <h2>Late Policy</h2>

      <p>All work must be turned in on time -- turn in partial work if you
	are not done. Medical or other exceptions must be given prior to the
	due date.</p>

      <h2>Educational Policies</h2>

      <h3>Honor Code Standards</h3>

      <p>In keeping with the principles of the

	<a href="http://campuslife.byu.edu/honorcode/">BYU Honor Code</a>

	, students are expected to be honest in all of their academic
	work. Academic honesty means, most fundamentally, that any
	work you present as your own must in fact be your own work and
	not that of another. Violations of this principle may result
	in a failing grade in the course and additional disciplinary
	action by the university.</p>

      <p>For this course, some assignments are categorized as group
	work. For these assignments, you may form a group that works together
	to produce one solution. Any assignment not categorized as group work
	<b>must</b> be done individually. You are encouraged to
	generally discuss problems with other groups or students, but
	you may never use some other group's or student's solution or
	code in any way. The use of sources (ideas, quotations,
	paraphrases) must be properly acknowledged and documented.</p>

      <h3>Policy on Harassment</h3>

      <p>Harassment of any kind is inappropriate at BYU. Specifically,
	BYU's policy against sexual harassment extends not only to
	employees of the university but to students as well.  If you
	encounter sexual harassment, gender-based discrimination, or
	other inappropriate behavior, please talk to your professor,
	contact the Equal Employment Office at 422-5895 or 367-5689,
	or contact the Honor Code Office at 422-2847.</p>

      <h3>Policy on Disabilities</h3>

      <p>BYU is committed to providing reasonable accommodation to
	qualified persons with disabilities. If you have any
	disability that may adversely affect your success in this
	course, please contact the University Accessibility Center at
	422-2767.  Services deemed appropriate will be coordinated
	with the student and instructor by that office.</p>

    </div>
  </div>
</div>
      
{% endblock %}
