{% extends "fall-2013/menu.html" %}

{% block page %}

{% filter markdown %}

# Project
      
Each student will also work in teams of two or three on a project for
the course. The project should address some open question in the area
of networking, and it should include some coding and a short research
paper. The amount of work should be enough to occupy a normal workload
for a graduate-level class, but significantly less than a Master's
thesis.

## Proposal

Each group should write a one or two page proposal describing
the research question they would like to pursue and their
methodology. The format of the paper should be:

* Introduction: Explain the research problem. Provide any background
  knowledge needed to understand the problem. Explain why you think
  this problem is important. Summarize what you will do to investigate
  the problem.

* Related Work: Discuss what others have done to address this
  problem. Include citations of relevant papers and data sets.

* Methodology: Discuss your methods. For example, if you will conduct
  measurements, explain what you will measure, how you will collect
  the data, and how you will analyze the data.

## Paper

Each group should write a short paper describing their work.  This
should include the following sections:

* Introduction: Explain the research problem. Provide any background
  knowledge needed to understand the problem. Explain why you think
  this problem is important. Summarize what you will do to investigate
  the problem.

* Related Work: Discuss what others have done to address this
  problem. Include citations of relevant papers and data sets.

* Methodology: Discuss your methods. For example, if you conducted
  measurements, explain what you measured, how you collected the data,
  and how you analyzed the data.

* Results: Discuss any initial findings.

* Future Work: Discuss promising areas for additional work.

{% endfilter %}

{% endblock %}
