{% extends "fall-2013/menu.html" %}

{% block page %}

<h1>Schedule</h1>

      <p>This schedule is <u>subject to change</u>. Assignments may be
      changed up until the day they are assigned.</p>


      {% for week in weeks %}
      <h2 class="plain">Week {{ week.number }}</h2>

      {% for day in week.days %}
      <div class="row-fluid schedule">

	<div class="span2 day">{{ day.date }}</div>

	<div class="span10">
	  {% if day.section or day.topic or day.readings %}
	  <div class="content">
	    {% if day.topic %}
	    <span class="section">{{ day.section }}</span> | <span class="topic">{{ day.topic }}</span>
	    {% elif day.section %}
	    <span class="section">{{ day.section }}</span>
	    {% endif %}
	    <ul>
	      {% for reading in day.readings %}
	      <li>{{ reading|safe }}</li>
	      {% endfor %}
	    </ul>
	  </div>
	  {% endif %}
	  {% for assignment in day.assignments %}
	  <div class="assignment">{{ assignment|safe }}</div>
	  {% endfor %}
	</div>
      </div>
	
      {% endfor %}

      {% endfor %}

    </div>
  </div>
</div>
      
{% endblock %}
