{% extends "fall-2013/menu.html" %}

{% block page %}

{% filter markdown %}

# Tools

When writing reports for this class, I strongly encourage you to use
some tools that are commonly used in computer science.

## Writing Papers

To write papers, please use LaTeX, which is a system of text
formatting programs.  LaTeX is a useful publishing tool in the
academic world, as it automatically formats documents in many
commonly-used styles.  Because LaTeX separates content from style, you
will find that it helps you to focus on what you want to say in your
report, rather than what your report looks like.

To help you learn LaTeX, I am including a [LaTeX
tutorial](http://ilab.cs.byu.edu/cs660/code/latex/latex-tutorial.tgz)
I wrote, complete with tables, figures, and bibliography.  The
included examples use the IEEE
[article](http://ilab.cs.byu.edu/cs660/code/latex/IEEEtran.tar.gz) and
[bibliography](http://ilab.cs.byu.edu/cs660/code/latex/IEEEtranBST.tar.gz)
styles.  These styles are typically used for submission to many IEEE
conferences.  These files include documentation on how to use them,
and my examples give you further advice.

You should also consult the [LaTeX book on
WikiBooks](http://en.wikibooks.org/wiki/LaTeX).

## Creating Graphs

To create graphs, you should use Python with the
[matplotlib](http://matplotlib.org/) library. By using a scripting
language to create your plots, it will be easy to generate
professional-looking plots.  You can also quickly create a large
number of plots and easily change the formatting of the plot with a
few simple changes to your script.

If you are using your own machine, install with pip:

<pre>
sudo pip install matplotlib
</pre>

Example code coming soon.

## Creating Figures

Where they are helpful, you are encouraged to include your own figures
in your reports. I suggest using [Inkscape](http://www.inkscape.org)
or a similar vector drawing program.  Be sure to use a tool that saves
in SVG format, so you can easily scale your figures to new sizes.

{% endfilter %}
      
{% endblock %}
