<!DOCTYPE html>
<html lang="en">
  <head>
    <title>CS 660 Internet Programming</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/5.3.3/css/normalize.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/5.3.3/css/foundation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css">
    <link href="/static/css/app.css" rel="stylesheet">
  </head>
  <body>
    <div id="header">
      <div class="row">
	<div class="course small-12 large-7 columns">
	    <a href={{url_for("show",directory=None,page="index")}}>CS 660 Computer Networks</a>
	</div>
	<div class="university small-12 large-5 columns">
	  <a class="borderright" href="https://byu.edu">BYU</a><a href="https://cs.byu.edu">Computer Science</a>
	</div>
      </div>
    </div>
    {% if active != "home" %}
    <div class="contain-to-grid">
      <nav class="top-bar" data-topbar>
	<ul class="title-area">
	  <li><h1>{% block term %}{% endblock %}</h1>
	  </li>
	  <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	</ul>
	<section class="top-bar-section">

	  <!-- Left Nav Section -->
	  <ul class="left">
	    {% block menu %}{% endblock %}
	  </ul>
	</section>
      </nav>
    </div>
    {% endif %}
    <div id="page" class="text">
      <div class="row">
	{% block page %}{% endblock %}
      </div>
    </div>

    <div id="footer">
      <div class="row">
	<div id="license">
	  <a rel="license" href="https://creativecommons.org/licenses/by-sa/3.0/deed.en_US"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a> 
	</div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/foundation/5.3.3/js/foundation.min.js"></script>

    <script>
      $(document).foundation();
    </script>

  </body>
</html>
