{% extends "base.html" %}

{% block page %}

{% filter markdown %}

# Course Description

This graduate course explores advanced topics in computer networks,
focusing on fundamental research being conducted to improve the
Internet. The course covers a set of classic research papers from a
broad spectrum of topics, mixed with some of the latest research in
these areas.

## Prerequisites

CS 460 or equivalent

## Course Materials

* [2014 Fall]({{ url_for("show",directory="fall-2014")}})
* [2013 Fall]({{ url_for("show",directory="fall-2013")}})

{% endfilter %}
      
{% endblock %}
