{% extends "base.html" %}

{% block page %}

<div class="text">
  <div class="row-fluid">
    <div class="span12">

      <h1 class="top">Course Description</h1>

      <p>This graduate course explores advanced topics in computer
      networks, focusing on fundamental research being conducted to
      improve the Internet. The course covers a set of classic
      research papers from a broad spectrum of topics, mixed with some
      of the latest research in these areas.

      <h1>Prerequisites</h1>
      <p>CS 460 or equivalent</p>

      <h1>Course Materials</h1>
      <ul>
	<li><a href="/fall-2013">2013 Fall</a></li>
      </ul>
    </div>
  </div>
</div>
      
{% endblock %}
