{% extends "winter-2017/menu.html" %}

{% block page %}

{% filter markdown %}

# Syllabus

## Section 1: MWF 9:00am 3012 JKB

This graduate course explores advanced topics in computer networks,
focusing on fundamental research being conducted to improve the
Internet. The course covers a set of classic research papers from a
broad spectrum of topics, mixed with some of the latest research in
these areas.

The prerequisite for this course [CS 460 Computer Communications and
Networking](http://cs460.byu.edu) or its equivalent.

## Learning Objectives

At the end of the course, students should be able to:

* understand a broad set of Internet research topics and the open
research issues in the area,

* read scientific papers to identify the strength of the contribution
and open research questions,

* write a well-structured summary and critique of a scientific paper,

* present a coherent, 15 minute overview of a complex topic,

* formulate a research question in the area of networking, study the
  related work, and clearly present the leading papers in the area,
  discussing their approach

## Organization

We will study one research area every week, reading and discussing
several papers together. I expect students to read each paper before
class and come to class prepared to give a brief summary and to offer
criticisms and/or questions about the paper.

We will set aside time every week to discuss ongoing class projects.

## Materials

We will read papers from the past year or two from the top
conferences. I will likely draw papers from SIGCOMM, IMC, USENIX ATC,
NSDI, WWW, INFOCOM, ACM Security, etc.  Links to research papers will
be available on the class web site.

My particular research interests are at the intersection of
networking, security, and usability, but in this class we will explore
a broad range of netowrking topics. Students are welcome to suggest
particular topics or papers they would like to read.

## Assignments

We will read a paper for nearly every day we meet in class. You should
read every paper, with the goals of understanding (a) the research
problem being solved, (b) how this paper fits into the related work in
the area, (c) the contributions this paper makes, and (d) any
strengths, weaknesses, or unresolved questions you have. Because we
will often read 3 papers a week, your goal should be to read each
paper in about 1 hour. Takes notes as you read so that you can write a
a review.

### Reviews

Each student will write a one page review of the paper for the
day. The review should be turned in on Learning Suite, in PDF
format. Your review should have the following format:

* 1 paragraph explaining the problem being solved and the main contributions of the paper
* 1 paragraph discussing the strengths of the paper
* 1 paragraph discuss the weaknesses of the paper, such as areas where the paper could be improved; alternatively,
  you may discuss areas where further work is needed or any questions you have about the paper.

Each student will bring their review to class and students will
exchange reviews and provide written feedback to each other by the
next class period.

### Presentations

Students will also take turns presenting the papers we read. You do not need
to write a review on the day you present a paper. When it is
your turn, you should create a short presentation that summarizes the
following points about the paper:

* problem: the research problem being solved, and why it is important
* contributions: a very brief summary of what the authors did to solve
  the problem and the main contributions the paper makes to the field
* related work: a brief summary of the related work trying to solve this
  problem (from the paper's related work section)
* methodology: what the authors did to solve the research problem
* results: the results
* conclusion: your thoughts on the strengths and weaknesses of the
  paper and what open research questions this paper did not solve

### Survey Paper

Toward the end of the class, each student will write a short survey paper
examining a focused area of networking that they are interested
in. The goal of this paper is to demonstrate your expertise in
understanding networking as a research area and to give you additional
experience conducting a literature search in a new area and presenting
your ideas in writing. 

## Grading

Grading will be based on an scale of 0 to 100, with standard letter
grades assigned. Your final grade will be computed by weighting the
assignments as follows:

> Survey Paper: 45%

> Paper Summaries: 45%

> Participation in class discussions: 10%

## Late Policy

All work must be turned in on time -- turn in partial work if you are
not done. Medical or other exceptions must be given prior to the due
date.

## Educational Policies

### Honor Code Standards

In keeping with the principles of the [BYU Honor
Code](http://campuslife.byu.edu/honorcode/), students are expected to
be honest in all of their academic work. Academic honesty means, most
fundamentally, that any work you present as your own must in fact be
your own work and not that of another. Violations of this principle
may result in a failing grade in the course and additional
disciplinary action by the university.

For this course, some assignments are categorized as group work. For
these assignments, you may form a group that works together to produce
one solution. Any assignment not categorized as group work *must* be
done individually. You are encouraged to generally discuss problems
with other groups or students, but you may never use some other
group's or student's solution or code in any way. The use of sources
(ideas, quotations, paraphrases) must be properly acknowledged and
documented.

### Policy on Harassment

Harassment of any kind is inappropriate at BYU. Specifically, BYU's
policy against sexual harassment extends not only to employees of the
university but to students as well.  If you encounter sexual
harassment, gender-based discrimination, or other inappropriate
behavior, please talk to your professor, contact the Equal Employment
Office at 422-5895 or 367-5689, or contact the Honor Code Office at
422-2847.

### Policy on Disabilities

BYU is committed to providing reasonable accommodation to qualified
persons with disabilities. If you have any disability that may
adversely affect your success in this course, please contact the
University Accessibility Center at 422-2767.  Services deemed
appropriate will be coordinated with the student and instructor by
that office.

{% endfilter %}

{% endblock %}
