{% extends "winter-2017/menu.html" %}

{% block page %}

{% filter markdown %}

# Survey Paper

Each student will write a short survey paper examining a focused area
of networking that they are interested in. The goal of this paper is
to demonstrate your expertise in understanding networking as a
research area and to give you additional experience conducting a
literature search in a new area and presenting your ideas in writing.

## Format

Your paper should be about 6 pages, 11 point font, single spaced. The
format of the paper should include:

* Introduction: explain the research problem you are studying and why
  it is important (1 - 1.5 pages)

* Body: Summarize the 8 to 10 most important papers that work on this
  research problem.  This should go well beyond the papers papers we
  cover in class. (4 pages)
  
* Conclusion: Describe what you would do to conduct additional
  research in this area. What work is left to be solved? What
  experiments would you run? What would you expect to show? (0.5
  pages)

* References

The audience for your paper is your fellow students in the class.

To write your paper, please use LaTeX, which is a system of text
formatting programs.  LaTeX is a useful publishing tool in the
academic world, as it automatically formats documents in many
commonly-used styles.  Because LaTeX separates content from style, you
will find that it helps you to focus on what you want to say in your
report, rather than what your report looks like.

To help you learn LaTeX, I am including a [LaTeX
tutorial](/static/latex/latex-tutorial.tgz) I wrote, complete with
tables, figures, and bibliography.  The included examples use the IEEE
article and bibliography styles.  These styles are typically used for
submission to many IEEE conferences.  These files include
documentation on how to use them, and my examples give you further
advice.

You should also consult the [LaTeX book on
WikiBooks](http://en.wikibooks.org/wiki/LaTeX).

## Milestones

The survey paper will have the following milestones:

1. **Topic Presentation**

    Describe your topic and show 2-3 papers that are strong papers in
    this area. You do not need a formal presentation, just orally
    discuss your topic and show the papers in the browser. We plan to
    have about 5 to 10 minutes discussing each topic.

1. **Annotated Bibliography**

    Turn in a bibliography with 2 to 3 sentences that describe each
    paper. The paper citations should be complete, listing at least
    author, title, venue, and year.

1. **First Draft**

    Include an introduction, an outline of how you will organize the
    body of the paper, and the (improved) annotated bibliography.
    Your outline should include sections and important points you will
    cover in each section.

1. **Final Paper**

    Turn in your final paper on the last day of class.

1. **Final Presentation**

    Prepare a 10 to 12 minute presentation, with 5 minutes for
    questions.  Submit a copy of your slides in ppt, pdf, or google
    doc format just prior to the final.
   
## Grading

The grading scale for the paper will be:

* 10 pts References: You use a consistent style, with complete
* bibliographic information.  10 pts Citations: You cite the work int
* the body of your paper.  20 pts Introduction: You clearly explain
* the problem and convince the reader that this problem is important.
* 20 pts Completeness: You chose the most relevant papers, didn't
* leave any important work out.  20 pts Synthesis: You synthesized the
* research, showing connections, rather than just describe each paper
* individually.  20 pts Writing Style: You wrote clearly, with a
* scientific style that is polished.


The grading scale for the presentation will be:

* 10 pts Quality of slides: Your slides present information clearly,
* contain pictures, and are not crammed with text.  10 pts Delivery:
* You give a quality verbal presentation, with a steady pace and
* keeping the interest of the audience.  25 pts Content: Your
* presentation teaches the audience about the topic.  5 pts Time
* management: You manage your time well.

{% endfilter %}

{% endblock %}
